$section: 'section';

.#{$section} {
	padding: 120px 20px 40px;
	margin: 0 auto;
	font-family: 'Roboto Slab', serif;
	font-weight: 300;
	position: relative;

	&--home {
		padding: 20px 0 40px;
	}

	&--team {
		background-color: #e4edd7;
	}

	&__heading {
		margin-bottom: 10px;
		text-align: center;
		font-size: 26px;
		font-weight: 400;
		text-decoration: underline;
	}
}

@media (min-width: $large) {
	.#{$section} {
		padding-left: 0;
		padding-right: 0;

		&__content {
			max-width: 70%;
			min-height: calc(100vh - 160px);
			margin: 0 auto;
		}
	}
}